:root {
    --accent: #F07624;
    --font-color: #0D0501;
    --invalid: #F02B24;
    --main-background: #EAF0EE;
    --secondary-background: #ebf3f3;
    --secondary-accent: #302925;
    font-size: 16px;
}

body {
    color: var(--font-color);
    background-color: var(--main-background);
    padding: 1rem 3rem 2rem 3rem;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;
    min-height: 100vh;
    font-family: "Comfortaa";
}

dialog[open] {
  display: flex;
  align-items: center;
  padding: 3rem;
  height: 20vh;
  font-weight: 600;
  border-radius: 0.5rem;
  border: 2px solid var(--accent);
}

dialog[open]::backdrop {
    background-color: hsl(0 0% 0% / 0.5);
    backdrop-filter: blur(2px);
}


header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header section.brand-content {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

header button {
    padding: 0.5rem 1rem;
    background-color: var(--accent);
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    min-width: 10rem;
}

section.brand-content img#logo {
    height: 2rem;
}

header section.search-content {
    flex: 1;
    max-width: 50rem;
}

section.search-content form#city-form {
    padding-left: 0.5rem;
    display: flex;
    gap: 1rem;
}

form#city-form .inputbox {
    flex: 1;
    position: relative;
}

form#city-form #form-error {
    color: var(--invalid) ;
    position: absolute;
    left: 0.5rem;
    bottom: -1.5rem;
    font-weight: 600;
}

form#city-form input {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

form#city-form input:user-invalid {
    outline: 1px solid var(--invalid);
}

header button#user-location {
    display: flex;
    gap: 0.5rem;
    background-color: var(--secondary-accent);
    color: var(--main-background);
    margin-left: 2rem;
}

button#user-location img{
    background-color: var(--main-background);
    border-radius: 50%;
}

main {
    padding: 0.5rem;
    /* border: 1px solid var(--accent); */
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;
}

.cards {
    padding: 1rem;
    /* border: 1px solid var(--accent); */
    box-shadow: 0 0 0.25rem 0;
    border-radius: 0.5rem;
    background-color: var(--secondary-background);
}

.two-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main section.todays-content {
    display: grid;
    grid-template-rows: 3fr 2fr 2fr;
    gap: 1.5rem;
}


section.todays-content div.current-conditions {
    box-shadow: none;
    border: 1px solid var(--accent);
    background-image: url(./images/light-background.jpg);
    background-position: center;
}

div.current-conditions div.content {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px) saturate(160%);
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    paddIng: 0.5rem;
}

div.content div.left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.top span#todays-date {
    font-size: 0.9rem;
}

div.left div.bottom {
    font-size: 2.5rem;
    font-weight: 600;
}

div.content img#weather-icon {
    width: 8rem;
}

div.content span#summary {
    font-weight: 600;
}

section.todays-content div.air-conditions {
    padding-right: 3rem;
}

div.air-conditions div.elements {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

div.elements ul.element-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    justify-content: space-between;
}

ul.element-list li {
    display: flex;
    align-items: flex-start;
    gap: 0.25rem;
}

ul.element-list .element-value {
    font-size: 1.5rem;
    font-weight: 600;
}

div.forecast-today ul.today{
    flex: 1;
    display: flex;
}

ul.today li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

li.time + li.time {
    border-left: 1px solid var(--secondary-accent);
}

li.time img{
    width: 2rem;
}

li.time .temp {
    font-size: 1.5rem;
    font-weight: 600;
}

main section.week-content {
    display: grid;
    grid-template-rows: 1fr auto;
}

div.forecast-week ul.days {
    flex: 1;
    display: flex;
    flex-direction: column;
}

ul.days li.day-summary {
    flex: 1;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

li.day-summary + li.day-summary {
    border-top: 1px solid var(--secondary-accent);
}

li.day-summary .condition {
    font-weight: 600;
    font-size: 1rem;
}

section.week-content ul.contact {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

ul.contact > li {
    padding: 0.25rem;
    background-color: var(--accent);
    border-radius: 50%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Metamorphous";
}

@font-face {
    font-family: 'Comfortaa';
    src: url('./fonts/Comfortaa-Regular.woff') format('woff2'),
        url('./fonts/Comfortaa-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metamorphous';
    src: url('./fonts/Metamorphous.woff2') format('woff2'),
        url('./fonts/Metamorphous.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
